.login-button{
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 10px;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-box{
    border: 1px solid deepskyblue;
    display: inline-block;
    padding: 80px;
    background-color: lightskyblue;
    border-radius: 50px;

}

.map {
    height: 250px;
    width: 100%;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.menu-container {
    width: 80%;
    margin: 0 auto;
}

.logo{
    float:left;
}

nav{
    float:right;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
}


.td-content {
    display: flex;
}

.createFacilityTable td{

}
.show-facilities-table tr td {
    border: 1px solid black;
    padding: 5px;
}
.first-row-list-facility {
    border: 1px solid black;
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    background-color: #55d6aa;
}
.show-facilities-table {
    background-color: #55d6aa;
    padding: 25px;
    display: inline-block;
    border-radius: 50px;
    min-width: 80%;
}
.facility-list-container {
    margin: auto;
    width: 80%;
    padding: 10px;
}
.nav-buttons{
    float: right;
    overflow: auto;
}
.subNav{
    overflow: auto;
}
.nav-commands{
    width: 30%;
}