.login-button{
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 10px;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-box{
    border: 1px solid deepskyblue;
    display: inline-block;
    padding: 80px;
    background-color: lightskyblue;
    border-radius: 50px;

}

.td-content {
    display: flex;
}